---
import Layout from '~/layouts/Layout.astro'
import PageHeader from '~/components/PageHeader.astro'

const title = 'Conclusions'
const description = "Sometimes situations result in an epiphany."
---

<Layout title={title}>
    <PageHeader title={title} />
    <div class="prose prose-bubblegum max-w-none">
        <p>These are various conclusions and aphorisms that I've arrived at throughout my career and life experiences.

## Life

:::duck
Like an aggressive contagion seeking the next victim, negativity can plague an entire team's morale. Negativity is contagious!
:::

## Optimism is a choice

:::duck
Expect nothing, but be grateful for everything.
:::

## Programming

:::duck
In programming there isn't a "right way" but there is always a "wrong way". There is however a "better way", until you run out of time.
:::

## Negotiations

:::duck
Developers are actually negotiators! We negotiate more than we develop. We negotiate with the keyboard all day long, we negotiate with ourselves determining if we've taken the right course of action. We negotiate with our peers, arguing our point of views. We negotiate with the stakeholders of the application and the end-users too.
:::

<h2>Motto</h2>

        <div class="admonition duck">
            <p>Changing the world, one line of code at a time.</p>
        </div>
    </div>
</Layout>
