---
import Layout from '~/layouts/Layout.astro'
import PageHeader from '~/components/PageHeader.astro'
import ScrollUpButton from '~/components/ScrollUpButton.astro'

import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import { LightGallery } from 'astro-lightgallery'

// Import all images from assets/pics directory
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/pics/*.jpg', {
  eager: true,
})
const imageList = Object.values(images).map((img) => img.default)
---

<Layout title="Pictures" description="Pictures from various speaking engagements">
  <PageHeader title="Pictures" />

  <div class="container">
    <p class="intro">
      A collection of photos from my speaking engagements, conferences, and tech community
      events.
    </p>
  </div>

  <LightGallery
    class="mygallery-container"
    options={{
      thumbnail: true,
      autoplay: true,
      slideShowInterval: 500,
    }}
    addPlugins={['zoom']}
  >
    {
      imageList.map((img) => (
        <a class="mygallery-one-img" href={img.src}>
          <img src={img.src} />
        </a>
      ))
    }
  </LightGallery>

  <ScrollUpButton />
</Layout>

<style>
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
  }

  .intro {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--theme-text-light);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
  }

  .mygallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: space-between;
  }

  .mygallery-one-img {
    margin: 5px;
    height: 100px;
    border: 1px solid black;
    min-width: 0; /* Don't use more space than available */
  }

  .mygallery-one-img img {
    height: 100%;
  }
</style>
