---
import type { NavLink } from '~/types'

interface Props {
  link: NavLink
}

const { link } = Astro.props
---

<a
  class="nav-link"
  rel={link.external ? 'noopener noreferrer' : undefined}
  target={link.external ? '_blank' : undefined}
  href={link.url}
>
  {link.name}
</a>

<style>
  .nav-link {
    position: relative;
    text-decoration: none;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }
</style>
