---
import type { FrontmatterImage } from '~/types'
import { Image } from 'astro:assets'

interface Props {
  avatarImage?: FrontmatterImage
}
const { avatarImage } = Astro.props
---

<div
  class="flex flex-col sm:flex-row items-center justify-around sm:gap-5 max-w-full mb-6 py-10 bg-accent/8 p-4 rounded-xl"
>
  {
    avatarImage && (
      <div class="shrink-0 bg-conic/[from_var(--border-angle)] from-accent/20 via-accent to-accent/20 from-30% to-60% animate-rotate-border rounded-full p-[6px]">
        <div class="relative z-20 flex rounded-full bg-background">
          <Image
            src={avatarImage.src}
            alt={avatarImage.alt}
            class="rounded-full size-[211px] aspect-square"
            widths={[422]}
            height={211}
            width={211}
          />
        </div>
      </div>
    )
  }
  <div>
    <div class:list={['m-4 max-w-full prose']}>
      <slot />
    </div>
  </div>
</div>
