---
import Layout from '~/layouts/Layout.astro'
import PageHeader from '~/components/PageHeader.astro'
import ScrollUpButton from '~/components/ScrollUpButton.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  description?: string
}>

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <PageHeader title={frontmatter.title} />
  <div class="max-w-full py-7.5">
    <div class="mb-5 prose">
      <slot />
    </div>
  </div>
  <ScrollUpButton />
</Layout>
